In [2]:
import pandas as pd

df1 = pd.read_csv(r'E:\data\train_timeseries.csv',nrows=10000000)
df1
df1 = df1.dropna()
df1.isnull().sum()

fips           0
date           0
PRECTOT        0
PS             0
QV2M           0
T2M            0
T2MDEW         0
T2MWET         0
T2M_MAX        0
T2M_MIN        0
T2M_RANGE      0
TS             0
WS10M          0
WS10M_MAX      0
WS10M_MIN      0
WS10M_RANGE    0
WS50M          0
WS50M_MAX      0
WS50M_MIN      0
WS50M_RANGE    0
score          0
dtype: int64

In [3]:
df2 = pd.read_csv(r'E:\data\train_timeseries.csv',skiprows=10000000,nrows=10000000)
df2 = df2.dropna()
df2.isnull().sum()

30093          0
2005-03-14     0
2.58           0
79.97          0
2.25           0
-4.86          0
-9.39          0
-9.31          0
-1.22          0
-7.41          0
6.19           0
-5.01          0
3.18           0
4.51           0
1.94           0
2.57           0
5.03           0
6.67           0
3.4            0
3.27           0
Unnamed: 20    0
dtype: int64

In [4]:
df1

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
10,1001,2000-01-11,1.33,100.40,6.63,11.48,7.84,7.84,18.88,5.72,...,10.43,1.76,2.48,1.05,1.43,3.55,6.38,1.71,4.67,2.0
17,1001,2000-01-18,1.11,100.39,9.53,14.28,13.26,13.26,18.04,8.98,...,14.19,2.63,3.60,1.67,1.92,5.19,6.40,3.84,2.55,2.0
24,1001,2000-01-25,0.00,100.11,2.05,-0.78,-7.93,-7.72,5.65,-5.46,...,-0.61,3.35,4.59,2.28,2.32,5.75,8.03,3.96,4.07,2.0
31,1001,2000-02-01,0.00,101.00,3.36,2.06,-1.73,-1.70,11.02,-4.21,...,1.88,2.03,2.74,0.88,1.86,4.18,6.38,1.27,5.11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999965,30093,2005-02-08,0.38,79.84,1.90,-8.60,-11.28,-11.20,-2.35,-12.34,...,-8.83,2.73,3.99,2.02,1.98,4.54,5.73,3.65,2.08,4.0
9999972,30093,2005-02-15,0.21,80.07,1.46,-10.39,-14.10,-13.93,-4.39,-15.32,...,-10.85,2.21,3.37,1.32,2.05,3.55,4.72,2.51,2.21,4.0
9999979,30093,2005-02-22,0.02,80.16,1.94,-4.17,-11.09,-10.91,3.19,-9.52,...,-6.61,1.40,2.44,0.19,2.24,2.05,3.40,0.26,3.14,4.0
9999986,30093,2005-03-01,0.78,79.78,2.97,-0.48,-6.18,-6.12,5.40,-4.55,...,-0.90,2.40,3.13,1.66,1.47,3.87,4.72,3.14,1.58,4.0
9999993,30093,2005-03-08,0.20,80.44,3.63,2.24,-3.69,-3.64,9.28,-1.63,...,2.15,3.65,5.31,2.63,2.68,6.38,7.60,4.95,2.65,4.0

In [5]:
df2

,30093,2005-03-14,2.58,79.97,2.25,-4.86,-9.39,-9.31,-1.22,-7.41,...,-5.01,3.18,4.51,1.94,2.57,5.03,6.67,3.4,3.27,Unnamed: 20
0,30093,2005-03-15,1.16,79.49,2.85,-3.41,-6.80,-6.77,1.07,-7.37,...,-3.57,2.76,3.79,1.90,1.88,4.64,5.95,3.53,2.42,4.0
7,30093,2005-03-22,2.49,79.09,3.43,-2.03,-4.50,-4.48,2.07,-5.26,...,-2.22,2.39,4.66,0.76,3.90,3.85,6.80,1.31,5.49,4.0
14,30093,2005-03-29,2.09,78.62,2.66,-2.73,-7.63,-7.57,1.59,-5.69,...,-2.62,3.60,5.33,2.47,2.87,5.83,7.65,4.34,3.31,4.0
21,30093,2005-04-05,0.39,80.46,2.79,0.68,-6.79,-6.71,8.04,-5.38,...,0.51,2.26,3.37,1.27,2.09,3.60,5.55,1.93,3.61,4.0
28,30093,2005-04-12,0.43,79.44,3.83,4.05,-3.01,-2.98,10.32,-1.38,...,3.83,4.07,6.74,1.35,5.39,7.05,9.75,2.41,7.34,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9300647,56043,2016-11-29,0.04,82.47,2.19,-4.27,-9.36,-9.26,-1.51,-7.22,...,-4.38,6.93,10.27,3.08,7.18,9.42,12.59,5.62,6.97,0.0
9300654,56043,2016-12-06,0.13,82.59,0.91,-11.96,-18.65,-17.90,-6.85,-15.24,...,-11.98,2.27,3.97,0.95,3.02,3.07,5.16,0.83,4.33,0.0
9300661,56043,2016-12-13,0.02,82.86,1.40,-9.56,-14.18,-13.95,-2.69,-13.01,...,-10.95,3.64,6.59,1.28,5.31,5.33,8.35,2.13,6.22,0.0
9300668,56043,2016-12-20,0.32,83.12,2.73,-2.55,-6.90,-6.84,2.66,-7.77,...,-3.94,6.16,8.43,3.44,4.99,8.99,10.14,6.67,3.47,0.0
9300675,56043,2016-12-27,0.16,82.88,1.63,-7.97,-13.49,-12.81,-1.39,-13.60,...,-9.41,5.90,7.63,3.61,4.02,8.58,10.39,5.92,4.47,0.0

In [6]:
df2.columns = ['fips', 'date','PRECTOT','PS','QV2M','T2M','T2MDEW','T2MWET','T2M_MAX',
                               'T2M_MIN','T2M_RANGE','TS','WS10M','WS10M_MAX','WS10M_MIN','WS10M_RANGE'
                                ,'WS50M','WS50M_MAX','WS50M_MIN','WS50M_RANGE','score']
df2

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,30093,2005-03-15,1.16,79.49,2.85,-3.41,-6.80,-6.77,1.07,-7.37,...,-3.57,2.76,3.79,1.90,1.88,4.64,5.95,3.53,2.42,4.0
7,30093,2005-03-22,2.49,79.09,3.43,-2.03,-4.50,-4.48,2.07,-5.26,...,-2.22,2.39,4.66,0.76,3.90,3.85,6.80,1.31,5.49,4.0
14,30093,2005-03-29,2.09,78.62,2.66,-2.73,-7.63,-7.57,1.59,-5.69,...,-2.62,3.60,5.33,2.47,2.87,5.83,7.65,4.34,3.31,4.0
21,30093,2005-04-05,0.39,80.46,2.79,0.68,-6.79,-6.71,8.04,-5.38,...,0.51,2.26,3.37,1.27,2.09,3.60,5.55,1.93,3.61,4.0
28,30093,2005-04-12,0.43,79.44,3.83,4.05,-3.01,-2.98,10.32,-1.38,...,3.83,4.07,6.74,1.35,5.39,7.05,9.75,2.41,7.34,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9300647,56043,2016-11-29,0.04,82.47,2.19,-4.27,-9.36,-9.26,-1.51,-7.22,...,-4.38,6.93,10.27,3.08,7.18,9.42,12.59,5.62,6.97,0.0
9300654,56043,2016-12-06,0.13,82.59,0.91,-11.96,-18.65,-17.90,-6.85,-15.24,...,-11.98,2.27,3.97,0.95,3.02,3.07,5.16,0.83,4.33,0.0
9300661,56043,2016-12-13,0.02,82.86,1.40,-9.56,-14.18,-13.95,-2.69,-13.01,...,-10.95,3.64,6.59,1.28,5.31,5.33,8.35,2.13,6.22,0.0
9300668,56043,2016-12-20,0.32,83.12,2.73,-2.55,-6.90,-6.84,2.66,-7.77,...,-3.94,6.16,8.43,3.44,4.99,8.99,10.14,6.67,3.47,0.0
9300675,56043,2016-12-27,0.16,82.88,1.63,-7.97,-13.49,-12.81,-1.39,-13.60,...,-9.41,5.90,7.63,3.61,4.02,8.58,10.39,5.92,4.47,0.0

In [7]:
df3 = pd.concat([df1,df2])
df3

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
10,1001,2000-01-11,1.33,100.40,6.63,11.48,7.84,7.84,18.88,5.72,...,10.43,1.76,2.48,1.05,1.43,3.55,6.38,1.71,4.67,2.0
17,1001,2000-01-18,1.11,100.39,9.53,14.28,13.26,13.26,18.04,8.98,...,14.19,2.63,3.60,1.67,1.92,5.19,6.40,3.84,2.55,2.0
24,1001,2000-01-25,0.00,100.11,2.05,-0.78,-7.93,-7.72,5.65,-5.46,...,-0.61,3.35,4.59,2.28,2.32,5.75,8.03,3.96,4.07,2.0
31,1001,2000-02-01,0.00,101.00,3.36,2.06,-1.73,-1.70,11.02,-4.21,...,1.88,2.03,2.74,0.88,1.86,4.18,6.38,1.27,5.11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9300647,56043,2016-11-29,0.04,82.47,2.19,-4.27,-9.36,-9.26,-1.51,-7.22,...,-4.38,6.93,10.27,3.08,7.18,9.42,12.59,5.62,6.97,0.0
9300654,56043,2016-12-06,0.13,82.59,0.91,-11.96,-18.65,-17.90,-6.85,-15.24,...,-11.98,2.27,3.97,0.95,3.02,3.07,5.16,0.83,4.33,0.0
9300661,56043,2016-12-13,0.02,82.86,1.40,-9.56,-14.18,-13.95,-2.69,-13.01,...,-10.95,3.64,6.59,1.28,5.31,5.33,8.35,2.13,6.22,0.0
9300668,56043,2016-12-20,0.32,83.12,2.73,-2.55,-6.90,-6.84,2.66,-7.77,...,-3.94,6.16,8.43,3.44,4.99,8.99,10.14,6.67,3.47,0.0
9300675,56043,2016-12-27,0.16,82.88,1.63,-7.97,-13.49,-12.81,-1.39,-13.60,...,-9.41,5.90,7.63,3.61,4.02,8.58,10.39,5.92,4.47,0.0

In [8]:
df3.to_csv('Train.csv', index=False)