In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import random

In [2]:
tr = pd.read_csv("Desktop/thyroid.csv")

In [3]:
df = pd.DataFrame(tr);
df

,T3_resin,Serum_thyroxin,Serum_triiodothyronine,Basal_TSH,Abs_diff_TSH,Outcome
0,107.0,10.1,2.2,0.9,2.7,1.0
1,NaN,9.9,3.1,2.0,5.9,1.0
2,127.0,12.9,2.4,NaN,0.6,1.0
3,109.0,NaN,1.6,1.4,1.5,1.0
4,105.0,7.3,1.5,NaN,-0.1,1.0
...,...,...,...,...,...,...
180,88.0,16.5,4.9,0.8,0.1,2.0
181,97.0,15.1,1.8,1.2,-0.2,2.0
182,106.0,13.4,3.0,1.1,0.0,NaN
183,79.0,19.0,5.5,NaN,0.3,2.0
184,92.0,11.1,2.0,0.7,-0.2,2.0

In [8]:
## part a:

In [9]:
df_train, df_test = train_test_split(df, test_size = 0.2, random_state = 1)

In [10]:
print(df.shape)
print(df_train.shape)
print(df_test.shape)

(185, 6)
(148, 6)
(37, 6)

In [11]:
df_train.to_csv("Desktop/thyroid_train.csv", index=False)
df_test.to_csv("Desktop/thyroid_test.csv", index=False)

In [13]:
## part c:

In [17]:
df['Outcome'].value_counts()

1.0    144
2.0     30
Name: Outcome, dtype: int64

In [15]:
df_train['Outcome'].value_counts()

1.0    115
2.0     25
Name: Outcome, dtype: int64

In [16]:
df_test['Outcome'].value_counts()

1.0    29
2.0     5
Name: Outcome, dtype: int64