In [2]:
import pandas as pd
import numpy as np

In [3]:
dt = pd.read_csv("Desktop/Diabetes.csv")

In [4]:
df = pd.DataFrame(dt);

In [5]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35,0,33.6,0.627,50,1
1,1,85,66.0,29,0,26.6,0.351,31,0
2,8,183,64.0,0,0,23.3,0.672,32,1
3,1,89,66.0,23,94,28.1,0.167,21,0
4,0,137,40.0,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
497,2,81,72.0,15,76,30.1,0.547,25,0
498,7,195,70.0,33,145,25.1,0.163,55,1
499,6,154,74.0,32,193,29.3,0.839,39,0
500,2,117,90.0,19,71,25.2,0.313,21,0
501,3,84,72.0,32,0,37.2,0.267,28,0

In [6]:
## identifying:

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               502 non-null    int64
 1   Glucose                   489 non-null    object
 2   BloodPressure             500 non-null    float64
 3   SkinThickness             502 non-null    object
 4   Insulin                   500 non-null    object
 5   BMI                       501 non-null    object
 6   DiabetesPedigreeFunction  502 non-null    object
 7   Age                       498 non-null    object
 8   Outcome                   501 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 35.4+ KB

In [8]:
df['Pregnancies'].dtypes

dtype('int64')

In [9]:
df[df['Pregnancies'].map(type) != int]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [10]:
df['Glucose'].dtypes

dtype('O')

In [11]:
df['Glucose'].map(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
497    <class 'str'>
498    <class 'str'>
499    <class 'str'>
500    <class 'str'>
501    <class 'str'>
Name: Glucose, Length: 502, dtype: object

In [12]:
df[df['Glucose'].map(type) != str]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
58,0,NaN,82.0,0,0,40.5,1.781,44,0
64,7,NaN,66.0,0,0,32.8,0.258,42,1
140,3,NaN,78.0,0,0,21.1,0.268,55,0
186,8,NaN,68.0,36,495,30.1,0.615,60,1
191,9,NaN,70.0,44,94,33.1,0.374,40,0
200,0,NaN,80.0,16,0,31.0,0.874,21,0
255,1,NaN,64.0,35,0,33.6,0.543,21,1
309,2,NaN,68.0,28,205,32.9,0.875,30,1
358,12,NaN,74.0,40,54,35.3,0.378,48,0
407,0,NaN,62.0,0,0,21.9,0.336,25,0
458,10,NaN,84.0,48,237,37.6,1.001,NaN,1
475,0,NaN,84.0,27,0,27.3,0.231,59,0
491,2,NaN,90.0,30,0,33.5,0.292,42,0

In [13]:
df[(df['Glucose'] < '0') | (df['Glucose'] > '99999') | (df['Glucose'] == '0')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
75,1,0,48.0,20,0,24.7,0.140,22,0
182,1,0,74.0,20,23,27.7,0.299,21,0
203,2,MISS,70.0,16,44,20.4,0.235,27,0
342,1,0,68.0,35,0,32.0,0.389,22,0
349,5,0,80.0,32,0,41.0,0.346,37,1
411,1,'',72.0,30,176,34.4,0.528,25,0
471,0,?,70.0,38,0,33.2,0.170,22,0

In [14]:
df.isnull().tail(50)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
452,False,False,False,False,False,False,False,False,False
453,False,False,False,False,False,False,False,False,False
454,False,False,False,False,False,False,False,False,False
455,False,False,False,False,False,False,False,False,False
456,False,False,False,False,False,False,False,False,False
457,False,False,False,False,False,False,False,False,False
458,False,True,False,False,False,False,False,True,False
459,False,False,False,False,False,False,False,False,False
460,False,False,False,False,False,False,False,False,False
461,False,False,False,False,False,False,False,False,False
462,False,False,False,False,False,False,False,False,False
463,False,False,False,False,False,False,False,False,False
464,False,False,False,False,False,False,False,False,False
465,False,False,False,False,False,False,False,False,False
466,False,False,False,False,False,False,False,False,False
467,False,False,False,False,False,False,False,False,False
468,False,False,False,False,False,False,False,True,False
469,False,False,False,False,False,False,False,False,False
470,False,False,False,False,False,False,False,False,False
471,False,False,False,False,False,False,False,False,False
472,False,False,False,False,False,False,False,False,False
473,False,False,False,False,False,False,False,False,False
474,False,False,False,False,False,False,False,False,False
475,False,True,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False
477,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False
480,False,False,False,False,False,False,False,False,False
481,False,False,False,False,False,False,False,False,False
482,False,False,False,False,False,False,False,False,False
483,False,False,False,False,False,False,False,False,False
484,False,False,False,False,False,False,False,False,False
485,False,False,False,False,False,False,False,False,False
486,False,False,False,False,False,False,False,False,False
487,False,False,False,False,False,False,False,False,False
488,False,False,False,False,False,False,False,False,False
489,False,False,False,False,False,False,False,False,False
490,False,False,True,False,False,False,False,False,False
491,False,True,False,False,False,False,False,False,False
492,False,False,False,False,False,False,False,False,False
493,False,False,False,False,False,False,False,False,False
494,False,False,False,False,False,False,False,False,False
495,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False
500,False,False,False,False,False,False,False,False,False
501,False,False,False,False,False,False,False,False,False

In [15]:
df['BloodPressure'].dtypes

dtype('float64')

In [16]:
df[(df['BloodPressure'].map(type) != float) | (df['BloodPressure'] == 0)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115,0.0,0,0,35.3,0.134,29,0
15,7,100,0.0,0,0,30.0,0.484,32,1
49,7,105,0.0,0,0,0.0,0.305,24,0
60,2,84,0.0,0,0,0.0,0.304,21,0
78,0,131,0.0,0,0,43.2,0.270,26,1
81,2,74,0.0,0,0,0.0,0.102,22,0
172,2,87,0.0,23,0,28.9,0.773,25,0
193,11,135,0.0,0,0,52.3,0.578,40,1
222,7,119,0.0,0,0,25.2,0.209,37,0
261,3,141,0.0,0,0,30.0,0.761,27,1
266,0,138,0.0,0,0,36.3,0.933,25,1
269,2,146,0.0,0,0,27.5,0.240,28,1
300,0,167,0.0,0,0,32.3,0.839,30,1
332,1,180,0.0,0,0,43.3,0.282,41,1
336,0,117,0.0,'',0,33.8,0.932,44,0
347,3,116,0.0,0,0,23.5,0.187,23,0
357,13,129,0.0,30,0,39.9,0.569,44,1
426,0,94,0.0,0,0,0.0,0.256,25,0
430,2,99,0.0,0,0,22.2,0.108,23,0
435,0,141,0.0,0,0,42.4,0.205,29,1
453,2,119,0.0,0,0,19.6,0.832,72,0
468,8,120,0.0,0,0,30.0,0.183,NaN,1
484,0,145,0.0,0,0,44.2,0.630,31,1
494,3,80,0.0,0,0,0.0,0.174,22,0

In [17]:
df['SkinThickness'].dtypes

dtype('O')

In [18]:
df['SkinThickness'].map(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
497    <class 'str'>
498    <class 'str'>
499    <class 'str'>
500    <class 'str'>
501    <class 'str'>
Name: SkinThickness, Length: 502, dtype: object

In [19]:
df[(df['SkinThickness'] < '0') | (df['SkinThickness'] > '99999')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
252,2,90,80.0,MISS,55,24.4,0.249,24,0
336,0,117,0.0,'',0,33.8,0.932,44,0
422,0,102,64.0,MISS,78,40.6,0.496,21,0
451,2,134,70.0,?,0,28.9,0.542,23,1

In [20]:
df[(df['SkinThickness'] == '0')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,8,183,64.0,0,0,23.3,0.672,32,1
5,5,116,74.0,0,0,25.6,0.201,30,0
7,10,115,0.0,0,0,35.3,0.134,29,0
9,8,125,96.0,0,0,0.0,0.232,54,1
10,4,110,92.0,0,0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
484,0,145,0.0,0,0,44.2,0.630,31,1
489,8,194,80.0,0,0,26.1,0.551,67,0
494,3,80,0.0,0,0,0.0,0.174,22,0
495,6,166,74.0,0,0,26.6,0.304,66,0
496,5,110,68.0,0,0,26.0,0.292,30,0

In [21]:
df['Insulin'].dtypes

dtype('O')

In [22]:
df['Insulin'].map(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
497    <class 'str'>
498    <class 'str'>
499    <class 'str'>
500    <class 'str'>
501    <class 'str'>
Name: Insulin, Length: 502, dtype: object

In [23]:
df[(df['Insulin'] < '0') | (df['Insulin'] > '99999')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
377,1,87,60.0,37,'',37.2,0.509,22,0
492,4,99,68.0,38,?,32.8,0.145,33,0

In [24]:
df[(df['Insulin'] == '0')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35,0,33.6,0.627,50,1
1,1,85,66.0,29,0,26.6,0.351,31,0
2,8,183,64.0,0,0,23.3,0.672,32,1
5,5,116,74.0,0,0,25.6,0.201,30,0
7,10,115,0.0,0,0,35.3,0.134,29,0
...,...,...,...,...,...,...,...,...,...
491,2,NaN,90.0,30,0,33.5,0.292,42,0
494,3,80,0.0,0,0,0.0,0.174,22,0
495,6,166,74.0,0,0,26.6,0.304,66,0
496,5,110,68.0,0,0,26.0,0.292,30,0
501,3,84,72.0,32,0,37.2,0.267,28,0

In [25]:
df['BMI'].dtypes

dtype('O')

In [26]:
df['BMI'].map(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
497    <class 'str'>
498    <class 'str'>
499    <class 'str'>
500    <class 'str'>
501    <class 'str'>
Name: BMI, Length: 502, dtype: object

In [27]:
df[(df['BMI'] < '0') | (df['BMI'] > '99999')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
158,2,88,74.0,19,53,MISS,0.229,22,0

In [28]:
df[(df['BMI'] == '0.0')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,8,125,96.0,0,0,0.0,0.232,54,1
49,7,105,0.0,0,0,0.0,0.305,24,0
60,2,84,0.0,0,0,0.0,0.304,21,0
81,2,74,0.0,0,0,0.0,0.102,22,0
145,0,102,75.0,23,0,0.0,0.572,21,0
371,0,118,64.0,23,89,0.0,1.731,21,0
426,0,94,0.0,0,0,0.0,0.256,25,0
494,3,80,0.0,0,0,0.0,0.174,22,0

In [29]:
df['DiabetesPedigreeFunction'].dtypes

dtype('O')

In [30]:
df['DiabetesPedigreeFunction'].map(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
497    <class 'str'>
498    <class 'str'>
499    <class 'str'>
500    <class 'str'>
501    <class 'str'>
Name: DiabetesPedigreeFunction, Length: 502, dtype: object

In [31]:
df[(df['DiabetesPedigreeFunction'] < '0') | (df['DiabetesPedigreeFunction'] > '99999')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
122,2,107,74.0,30,100,33.6,MISS,23,0

In [32]:
df['Age'].dtypes

dtype('O')

In [33]:
df['Age'].map(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
497    <class 'str'>
498    <class 'str'>
499    <class 'str'>
500    <class 'str'>
501    <class 'str'>
Name: Age, Length: 502, dtype: object

In [34]:
df[(df['Age'] < '0') | (df['Age'] > '99999')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
477,7,114,76.0,17,110,23.8,0.466,?,0

In [35]:
df['Outcome'].dtypes

dtype('O')

In [36]:
df['Outcome'].map(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
497    <class 'str'>
498    <class 'str'>
499    <class 'str'>
500    <class 'str'>
501    <class 'str'>
Name: Outcome, Length: 502, dtype: object

In [37]:
df[(df['Outcome'] < '0') | (df['Outcome'] > '99999')]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
256,3,111,56.0,39,0,30.1,0.557,30,MISS
387,8,105,100.0,36,0,43.3,0.239,45,''
397,0,131,66.0,40,0,34.3,0.196,22,''
480,3,158,70.0,30,328,35.5,0.344,35,MISS

In [38]:
## replacement:

In [39]:
df.tail

<bound method NDFrame.tail of      Pregnancies Glucose  BloodPressure SkinThickness Insulin   BMI  \
0              6     148           72.0            35       0  33.6
1              1      85           66.0            29       0  26.6
2              8     183           64.0             0       0  23.3
3              1      89           66.0            23      94  28.1
4              0     137           40.0            35     168  43.1
..           ...     ...            ...           ...     ...   ...
497            2      81           72.0            15      76  30.1
498            7     195           70.0            33     145  25.1
499            6     154           74.0            32     193  29.3
500            2     117           90.0            19      71  25.2
501            3      84           72.0            32       0  37.2

    DiabetesPedigreeFunction Age Outcome
0                      0.627  50       1
1                      0.351  31       0
2                      0.672  32       1
3                      0.167  21       0
4                      2.288  33       1
..                       ...  ..     ...
497                    0.547  25       0
498                    0.163  55       1
499                    0.839  39       0
500                    0.313  21       0
501                    0.267  28       0

[502 rows x 9 columns]>

In [40]:
cleared_df = df
cleared_df = cleared_df.replace(("''"),np.NaN)
cleared_df = cleared_df.replace(('MISS'),np.NaN)
cleared_df = cleared_df.replace(('?'),np.NaN)
cleared_df.tail(50)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
452,0,91,68.0,32,210,39.9,0.381,25,0
453,2,119,0.0,0,0,19.6,0.832,72,0
454,2,100,54.0,28,105,37.8,0.498,24,0
455,14,175,62.0,30,0,33.6,0.212,38,1
456,1,135,54.0,0,0,26.7,0.687,62,0
457,5,86,68.0,28,71,30.2,0.364,24,0
458,10,NaN,84.0,48,237,37.6,1.001,NaN,1
459,9,134,74.0,33,60,25.9,0.460,81,0
460,9,120,72.0,22,56,20.8,0.733,48,0
461,1,71,62.0,0,0,21.8,0.416,26,0
462,8,74,70.0,40,49,35.3,0.705,39,0
463,5,88,78.0,30,0,27.6,0.258,37,0
464,10,115,98.0,0,0,24.0,1.022,34,0
465,0,124,56.0,13,105,21.8,0.452,21,0
466,0,74,52.0,10,36,27.8,0.269,22,0
467,0,97,64.0,36,100,36.8,0.600,25,0
468,8,120,0.0,0,0,30.0,0.183,NaN,1
469,6,154,78.0,41,140,46.1,0.571,27,0
470,1,144,82.0,40,0,41.3,0.607,28,0
471,0,NaN,70.0,38,0,33.2,0.170,22,0
472,0,119,66.0,27,0,38.8,0.259,22,0
473,7,136,90.0,0,0,29.9,0.210,50,0
474,4,114,64.0,0,0,28.9,0.126,24,0
475,0,NaN,84.0,27,0,27.3,0.231,59,0
476,2,105,80.0,45,191,33.7,0.711,29,1
477,7,114,76.0,17,110,23.8,0.466,NaN,0
478,8,126,74.0,38,75,25.9,0.162,39,0
479,4,132,86.0,31,0,28.0,0.419,63,0
480,3,158,70.0,30,328,35.5,0.344,35,NaN
481,0,123,88.0,37,0,35.2,0.197,29,0
482,4,85,58.0,22,49,27.8,0.306,28,0
483,0,84,82.0,31,125,38.2,0.233,23,0
484,0,145,0.0,0,0,44.2,0.630,31,1
485,0,135,68.0,42,250,42.3,0.365,24,1
486,1,139,62.0,41,480,40.7,0.536,21,0
487,0,173,78.0,32,265,46.5,1.159,58,0
488,4,99,72.0,17,0,25.6,0.294,28,0
489,8,194,80.0,0,0,26.1,0.551,67,0
490,2,83,NaN,28,66,36.8,0.629,24,0
491,2,NaN,90.0,30,0,33.5,0.292,42,0
492,4,99,68.0,38,NaN,32.8,0.145,33,0
493,4,125,70.0,18,122,28.9,1.144,45,1
494,3,80,0.0,0,0,0.0,0.174,22,0
495,6,166,74.0,0,0,26.6,0.304,66,0
496,5,110,68.0,0,0,26.0,0.292,30,0
497,2,81,72.0,15,76,30.1,0.547,25,0
498,7,195,70.0,33,145,25.1,0.163,55,1
499,6,154,74.0,32,193,29.3,0.839,39,0
500,2,117,90.0,19,71,25.2,0.313,21,0
501,3,84,72.0,32,0,37.2,0.267,28,0

In [41]:
cleared_df['BloodPressure'] = cleared_df['BloodPressure'].replace((0),np.NaN)
cleared_df.tail(50)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
452,0,91,68.0,32,210,39.9,0.381,25,0
453,2,119,NaN,0,0,19.6,0.832,72,0
454,2,100,54.0,28,105,37.8,0.498,24,0
455,14,175,62.0,30,0,33.6,0.212,38,1
456,1,135,54.0,0,0,26.7,0.687,62,0
457,5,86,68.0,28,71,30.2,0.364,24,0
458,10,NaN,84.0,48,237,37.6,1.001,NaN,1
459,9,134,74.0,33,60,25.9,0.460,81,0
460,9,120,72.0,22,56,20.8,0.733,48,0
461,1,71,62.0,0,0,21.8,0.416,26,0
462,8,74,70.0,40,49,35.3,0.705,39,0
463,5,88,78.0,30,0,27.6,0.258,37,0
464,10,115,98.0,0,0,24.0,1.022,34,0
465,0,124,56.0,13,105,21.8,0.452,21,0
466,0,74,52.0,10,36,27.8,0.269,22,0
467,0,97,64.0,36,100,36.8,0.600,25,0
468,8,120,NaN,0,0,30.0,0.183,NaN,1
469,6,154,78.0,41,140,46.1,0.571,27,0
470,1,144,82.0,40,0,41.3,0.607,28,0
471,0,NaN,70.0,38,0,33.2,0.170,22,0
472,0,119,66.0,27,0,38.8,0.259,22,0
473,7,136,90.0,0,0,29.9,0.210,50,0
474,4,114,64.0,0,0,28.9,0.126,24,0
475,0,NaN,84.0,27,0,27.3,0.231,59,0
476,2,105,80.0,45,191,33.7,0.711,29,1
477,7,114,76.0,17,110,23.8,0.466,NaN,0
478,8,126,74.0,38,75,25.9,0.162,39,0
479,4,132,86.0,31,0,28.0,0.419,63,0
480,3,158,70.0,30,328,35.5,0.344,35,NaN
481,0,123,88.0,37,0,35.2,0.197,29,0
482,4,85,58.0,22,49,27.8,0.306,28,0
483,0,84,82.0,31,125,38.2,0.233,23,0
484,0,145,NaN,0,0,44.2,0.630,31,1
485,0,135,68.0,42,250,42.3,0.365,24,1
486,1,139,62.0,41,480,40.7,0.536,21,0
487,0,173,78.0,32,265,46.5,1.159,58,0
488,4,99,72.0,17,0,25.6,0.294,28,0
489,8,194,80.0,0,0,26.1,0.551,67,0
490,2,83,NaN,28,66,36.8,0.629,24,0
491,2,NaN,90.0,30,0,33.5,0.292,42,0
492,4,99,68.0,38,NaN,32.8,0.145,33,0
493,4,125,70.0,18,122,28.9,1.144,45,1
494,3,80,NaN,0,0,0.0,0.174,22,0
495,6,166,74.0,0,0,26.6,0.304,66,0
496,5,110,68.0,0,0,26.0,0.292,30,0
497,2,81,72.0,15,76,30.1,0.547,25,0
498,7,195,70.0,33,145,25.1,0.163,55,1
499,6,154,74.0,32,193,29.3,0.839,39,0
500,2,117,90.0,19,71,25.2,0.313,21,0
501,3,84,72.0,32,0,37.2,0.267,28,0

In [42]:
cleared_df['Glucose'] = cleared_df['Glucose'].replace(('0'),np.NaN)
cleared_df.tail(50)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
452,0,91,68.0,32,210,39.9,0.381,25,0
453,2,119,NaN,0,0,19.6,0.832,72,0
454,2,100,54.0,28,105,37.8,0.498,24,0
455,14,175,62.0,30,0,33.6,0.212,38,1
456,1,135,54.0,0,0,26.7,0.687,62,0
457,5,86,68.0,28,71,30.2,0.364,24,0
458,10,NaN,84.0,48,237,37.6,1.001,NaN,1
459,9,134,74.0,33,60,25.9,0.460,81,0
460,9,120,72.0,22,56,20.8,0.733,48,0
461,1,71,62.0,0,0,21.8,0.416,26,0
462,8,74,70.0,40,49,35.3,0.705,39,0
463,5,88,78.0,30,0,27.6,0.258,37,0
464,10,115,98.0,0,0,24.0,1.022,34,0
465,0,124,56.0,13,105,21.8,0.452,21,0
466,0,74,52.0,10,36,27.8,0.269,22,0
467,0,97,64.0,36,100,36.8,0.600,25,0
468,8,120,NaN,0,0,30.0,0.183,NaN,1
469,6,154,78.0,41,140,46.1,0.571,27,0
470,1,144,82.0,40,0,41.3,0.607,28,0
471,0,NaN,70.0,38,0,33.2,0.170,22,0
472,0,119,66.0,27,0,38.8,0.259,22,0
473,7,136,90.0,0,0,29.9,0.210,50,0
474,4,114,64.0,0,0,28.9,0.126,24,0
475,0,NaN,84.0,27,0,27.3,0.231,59,0
476,2,105,80.0,45,191,33.7,0.711,29,1
477,7,114,76.0,17,110,23.8,0.466,NaN,0
478,8,126,74.0,38,75,25.9,0.162,39,0
479,4,132,86.0,31,0,28.0,0.419,63,0
480,3,158,70.0,30,328,35.5,0.344,35,NaN
481,0,123,88.0,37,0,35.2,0.197,29,0
482,4,85,58.0,22,49,27.8,0.306,28,0
483,0,84,82.0,31,125,38.2,0.233,23,0
484,0,145,NaN,0,0,44.2,0.630,31,1
485,0,135,68.0,42,250,42.3,0.365,24,1
486,1,139,62.0,41,480,40.7,0.536,21,0
487,0,173,78.0,32,265,46.5,1.159,58,0
488,4,99,72.0,17,0,25.6,0.294,28,0
489,8,194,80.0,0,0,26.1,0.551,67,0
490,2,83,NaN,28,66,36.8,0.629,24,0
491,2,NaN,90.0,30,0,33.5,0.292,42,0
492,4,99,68.0,38,NaN,32.8,0.145,33,0
493,4,125,70.0,18,122,28.9,1.144,45,1
494,3,80,NaN,0,0,0.0,0.174,22,0
495,6,166,74.0,0,0,26.6,0.304,66,0
496,5,110,68.0,0,0,26.0,0.292,30,0
497,2,81,72.0,15,76,30.1,0.547,25,0
498,7,195,70.0,33,145,25.1,0.163,55,1
499,6,154,74.0,32,193,29.3,0.839,39,0
500,2,117,90.0,19,71,25.2,0.313,21,0
501,3,84,72.0,32,0,37.2,0.267,28,0

In [43]:
cleared_df['SkinThickness'] = cleared_df['SkinThickness'].replace(('0'),np.NaN)
cleared_df.tail(50)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
452,0,91,68.0,32,210,39.9,0.381,25,0
453,2,119,NaN,NaN,0,19.6,0.832,72,0
454,2,100,54.0,28,105,37.8,0.498,24,0
455,14,175,62.0,30,0,33.6,0.212,38,1
456,1,135,54.0,NaN,0,26.7,0.687,62,0
457,5,86,68.0,28,71,30.2,0.364,24,0
458,10,NaN,84.0,48,237,37.6,1.001,NaN,1
459,9,134,74.0,33,60,25.9,0.460,81,0
460,9,120,72.0,22,56,20.8,0.733,48,0
461,1,71,62.0,NaN,0,21.8,0.416,26,0
462,8,74,70.0,40,49,35.3,0.705,39,0
463,5,88,78.0,30,0,27.6,0.258,37,0
464,10,115,98.0,NaN,0,24.0,1.022,34,0
465,0,124,56.0,13,105,21.8,0.452,21,0
466,0,74,52.0,10,36,27.8,0.269,22,0
467,0,97,64.0,36,100,36.8,0.600,25,0
468,8,120,NaN,NaN,0,30.0,0.183,NaN,1
469,6,154,78.0,41,140,46.1,0.571,27,0
470,1,144,82.0,40,0,41.3,0.607,28,0
471,0,NaN,70.0,38,0,33.2,0.170,22,0
472,0,119,66.0,27,0,38.8,0.259,22,0
473,7,136,90.0,NaN,0,29.9,0.210,50,0
474,4,114,64.0,NaN,0,28.9,0.126,24,0
475,0,NaN,84.0,27,0,27.3,0.231,59,0
476,2,105,80.0,45,191,33.7,0.711,29,1
477,7,114,76.0,17,110,23.8,0.466,NaN,0
478,8,126,74.0,38,75,25.9,0.162,39,0
479,4,132,86.0,31,0,28.0,0.419,63,0
480,3,158,70.0,30,328,35.5,0.344,35,NaN
481,0,123,88.0,37,0,35.2,0.197,29,0
482,4,85,58.0,22,49,27.8,0.306,28,0
483,0,84,82.0,31,125,38.2,0.233,23,0
484,0,145,NaN,NaN,0,44.2,0.630,31,1
485,0,135,68.0,42,250,42.3,0.365,24,1
486,1,139,62.0,41,480,40.7,0.536,21,0
487,0,173,78.0,32,265,46.5,1.159,58,0
488,4,99,72.0,17,0,25.6,0.294,28,0
489,8,194,80.0,NaN,0,26.1,0.551,67,0
490,2,83,NaN,28,66,36.8,0.629,24,0
491,2,NaN,90.0,30,0,33.5,0.292,42,0
492,4,99,68.0,38,NaN,32.8,0.145,33,0
493,4,125,70.0,18,122,28.9,1.144,45,1
494,3,80,NaN,NaN,0,0.0,0.174,22,0
495,6,166,74.0,NaN,0,26.6,0.304,66,0
496,5,110,68.0,NaN,0,26.0,0.292,30,0
497,2,81,72.0,15,76,30.1,0.547,25,0
498,7,195,70.0,33,145,25.1,0.163,55,1
499,6,154,74.0,32,193,29.3,0.839,39,0
500,2,117,90.0,19,71,25.2,0.313,21,0
501,3,84,72.0,32,0,37.2,0.267,28,0

In [44]:
cleared_df['Insulin'] = cleared_df['Insulin'].replace(('0'),np.NaN)
cleared_df.tail(50)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
452,0,91,68.0,32,210,39.9,0.381,25,0
453,2,119,NaN,NaN,NaN,19.6,0.832,72,0
454,2,100,54.0,28,105,37.8,0.498,24,0
455,14,175,62.0,30,NaN,33.6,0.212,38,1
456,1,135,54.0,NaN,NaN,26.7,0.687,62,0
457,5,86,68.0,28,71,30.2,0.364,24,0
458,10,NaN,84.0,48,237,37.6,1.001,NaN,1
459,9,134,74.0,33,60,25.9,0.460,81,0
460,9,120,72.0,22,56,20.8,0.733,48,0
461,1,71,62.0,NaN,NaN,21.8,0.416,26,0
462,8,74,70.0,40,49,35.3,0.705,39,0
463,5,88,78.0,30,NaN,27.6,0.258,37,0
464,10,115,98.0,NaN,NaN,24.0,1.022,34,0
465,0,124,56.0,13,105,21.8,0.452,21,0
466,0,74,52.0,10,36,27.8,0.269,22,0
467,0,97,64.0,36,100,36.8,0.600,25,0
468,8,120,NaN,NaN,NaN,30.0,0.183,NaN,1
469,6,154,78.0,41,140,46.1,0.571,27,0
470,1,144,82.0,40,NaN,41.3,0.607,28,0
471,0,NaN,70.0,38,NaN,33.2,0.170,22,0
472,0,119,66.0,27,NaN,38.8,0.259,22,0
473,7,136,90.0,NaN,NaN,29.9,0.210,50,0
474,4,114,64.0,NaN,NaN,28.9,0.126,24,0
475,0,NaN,84.0,27,NaN,27.3,0.231,59,0
476,2,105,80.0,45,191,33.7,0.711,29,1
477,7,114,76.0,17,110,23.8,0.466,NaN,0
478,8,126,74.0,38,75,25.9,0.162,39,0
479,4,132,86.0,31,NaN,28.0,0.419,63,0
480,3,158,70.0,30,328,35.5,0.344,35,NaN
481,0,123,88.0,37,NaN,35.2,0.197,29,0
482,4,85,58.0,22,49,27.8,0.306,28,0
483,0,84,82.0,31,125,38.2,0.233,23,0
484,0,145,NaN,NaN,NaN,44.2,0.630,31,1
485,0,135,68.0,42,250,42.3,0.365,24,1
486,1,139,62.0,41,480,40.7,0.536,21,0
487,0,173,78.0,32,265,46.5,1.159,58,0
488,4,99,72.0,17,NaN,25.6,0.294,28,0
489,8,194,80.0,NaN,NaN,26.1,0.551,67,0
490,2,83,NaN,28,66,36.8,0.629,24,0
491,2,NaN,90.0,30,NaN,33.5,0.292,42,0
492,4,99,68.0,38,NaN,32.8,0.145,33,0
493,4,125,70.0,18,122,28.9,1.144,45,1
494,3,80,NaN,NaN,NaN,0.0,0.174,22,0
495,6,166,74.0,NaN,NaN,26.6,0.304,66,0
496,5,110,68.0,NaN,NaN,26.0,0.292,30,0
497,2,81,72.0,15,76,30.1,0.547,25,0
498,7,195,70.0,33,145,25.1,0.163,55,1
499,6,154,74.0,32,193,29.3,0.839,39,0
500,2,117,90.0,19,71,25.2,0.313,21,0
501,3,84,72.0,32,NaN,37.2,0.267,28,0

In [45]:
cleared_df['BMI'] = cleared_df['BMI'].replace(('0.0'),np.NaN)
cleared_df.tail(50)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
452,0,91,68.0,32,210,39.9,0.381,25,0
453,2,119,NaN,NaN,NaN,19.6,0.832,72,0
454,2,100,54.0,28,105,37.8,0.498,24,0
455,14,175,62.0,30,NaN,33.6,0.212,38,1
456,1,135,54.0,NaN,NaN,26.7,0.687,62,0
457,5,86,68.0,28,71,30.2,0.364,24,0
458,10,NaN,84.0,48,237,37.6,1.001,NaN,1
459,9,134,74.0,33,60,25.9,0.460,81,0
460,9,120,72.0,22,56,20.8,0.733,48,0
461,1,71,62.0,NaN,NaN,21.8,0.416,26,0
462,8,74,70.0,40,49,35.3,0.705,39,0
463,5,88,78.0,30,NaN,27.6,0.258,37,0
464,10,115,98.0,NaN,NaN,24.0,1.022,34,0
465,0,124,56.0,13,105,21.8,0.452,21,0
466,0,74,52.0,10,36,27.8,0.269,22,0
467,0,97,64.0,36,100,36.8,0.600,25,0
468,8,120,NaN,NaN,NaN,30.0,0.183,NaN,1
469,6,154,78.0,41,140,46.1,0.571,27,0
470,1,144,82.0,40,NaN,41.3,0.607,28,0
471,0,NaN,70.0,38,NaN,33.2,0.170,22,0
472,0,119,66.0,27,NaN,38.8,0.259,22,0
473,7,136,90.0,NaN,NaN,29.9,0.210,50,0
474,4,114,64.0,NaN,NaN,28.9,0.126,24,0
475,0,NaN,84.0,27,NaN,27.3,0.231,59,0
476,2,105,80.0,45,191,33.7,0.711,29,1
477,7,114,76.0,17,110,23.8,0.466,NaN,0
478,8,126,74.0,38,75,25.9,0.162,39,0
479,4,132,86.0,31,NaN,28.0,0.419,63,0
480,3,158,70.0,30,328,35.5,0.344,35,NaN
481,0,123,88.0,37,NaN,35.2,0.197,29,0
482,4,85,58.0,22,49,27.8,0.306,28,0
483,0,84,82.0,31,125,38.2,0.233,23,0
484,0,145,NaN,NaN,NaN,44.2,0.630,31,1
485,0,135,68.0,42,250,42.3,0.365,24,1
486,1,139,62.0,41,480,40.7,0.536,21,0
487,0,173,78.0,32,265,46.5,1.159,58,0
488,4,99,72.0,17,NaN,25.6,0.294,28,0
489,8,194,80.0,NaN,NaN,26.1,0.551,67,0
490,2,83,NaN,28,66,36.8,0.629,24,0
491,2,NaN,90.0,30,NaN,33.5,0.292,42,0
492,4,99,68.0,38,NaN,32.8,0.145,33,0
493,4,125,70.0,18,122,28.9,1.144,45,1
494,3,80,NaN,NaN,NaN,NaN,0.174,22,0
495,6,166,74.0,NaN,NaN,26.6,0.304,66,0
496,5,110,68.0,NaN,NaN,26.0,0.292,30,0
497,2,81,72.0,15,76,30.1,0.547,25,0
498,7,195,70.0,33,145,25.1,0.163,55,1
499,6,154,74.0,32,193,29.3,0.839,39,0
500,2,117,90.0,19,71,25.2,0.313,21,0
501,3,84,72.0,32,NaN,37.2,0.267,28,0

In [46]:
cleared_df.to_csv("Desktop/Diabetes_cleared.csv", index=False)

In [47]:
## Counting Missing values of each column

In [48]:
cleared_df.isnull().sum()

Pregnancies                   0
Glucose                      20
BloodPressure                26
SkinThickness               146
Insulin                     243
BMI                          10
DiabetesPedigreeFunction      1
Age                           5
Outcome                       5
dtype: int64