In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LogisticRegression, PoissonRegressor
from sklearn.datasets import load_breast_cancer, load_boston
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MultiLabelBinarizer

from mlxtend.frequent_patterns import apriori, association_rules

import jenkspy
from gsppy.gsp import GSP

In [18]:
# Q1

In [10]:
data = load_breast_cancer()
df = pd.DataFrame(data = data.data, columns = data.feature_names)
df['cancer'] = data.target
df

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,cancer
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1

In [11]:
df = df.dropna()
for i in df.columns:
    if i != 'cancer':
        df[i] = (df[i] - df[i].mean())/df[i].std()
df

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,cancer
0,1.096100,-2.071512,1.268817,0.983510,1.567087,3.280628,2.650542,2.530249,2.215566,2.253764,...,-1.358098,2.301575,1.999478,1.306537,2.614365,2.107672,2.294058,2.748204,1.935312,0
1,1.828212,-0.353322,1.684473,1.907030,-0.826235,-0.486643,-0.023825,0.547662,0.001391,-0.867889,...,-0.368879,1.533776,1.888827,-0.375282,-0.430066,-0.146620,1.086129,-0.243675,0.280943,0
2,1.578499,0.455786,1.565126,1.557513,0.941382,1.052000,1.362280,2.035440,0.938859,-0.397658,...,-0.023953,1.346291,1.455004,0.526944,1.081980,0.854222,1.953282,1.151242,0.201214,0
3,-0.768233,0.253509,-0.592166,-0.763792,3.280667,3.399917,1.914213,1.450431,2.864862,4.906602,...,0.133866,-0.249720,-0.549538,3.391291,3.889975,1.987839,2.173873,6.040726,4.930672,0
4,1.748758,-1.150804,1.775011,1.824624,0.280125,0.538866,1.369806,1.427237,-0.009552,-0.561956,...,-1.465481,1.337363,1.219651,0.220362,-0.313119,0.612640,0.728618,-0.867590,-0.396751,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,2.109139,0.720838,2.058974,2.341795,1.040926,0.218868,1.945573,2.318924,-0.312314,-0.930209,...,0.117596,1.751022,2.013529,0.378033,-0.273077,0.663928,1.627719,-1.358963,-0.708467,0
565,1.703356,2.083301,1.614511,1.722326,0.102368,-0.017817,0.692434,1.262558,-0.217473,-1.057681,...,2.045599,1.420690,1.493644,-0.690623,-0.394473,0.236365,0.733182,-0.531387,-0.973122,0
566,0.701667,2.043775,0.672084,0.577445,-0.839745,-0.038646,0.046547,0.105684,-0.808406,-0.894800,...,1.373645,0.578492,0.427529,-0.808876,0.350427,0.326479,0.413705,-1.103578,-0.318129,0
567,1.836725,2.334403,1.980781,1.733693,1.524426,3.269267,3.294046,2.656528,2.135315,1.042778,...,2.235958,2.301575,1.651717,1.429169,3.901415,3.194794,2.287972,1.917396,2.217684,0
568,-1.806811,1.220718,-1.812793,-1.346604,-3.109349,-1.149741,-1.113893,-1.260710,-0.819349,-0.560539,...,0.763518,-1.431475,-1.074867,-1.857384,-1.206491,-1.304683,-1.743529,-0.048096,-0.750546,1

In [12]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df.iloc[:,-1:], test_size = 0.2, random_state=42)

In [15]:
lg_model = LogisticRegression(random_state=25).fit(x_train, y_train)

C:\Users\Zigorat\Anaconda3\envs\env_cxr\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [16]:
lg_model.score(x_test, y_test)

0.9736842105263158

In [17]:
print('liblinear')
lglin_model = LogisticRegression(random_state=25, solver='liblinear').fit(x_train, y_train)
print('train: ',lglin_model.score(x_train, y_train),', test: ',lglin_model.score(x_test, y_test))

print('saga')
lgsaga_model = LogisticRegression(random_state=25, solver='saga').fit(x_train, y_train)
print('train: ',lgsaga_model.score(x_train, y_train),', test: ',lgsaga_model.score(x_test, y_test))

liblinear
train:  0.9868131868131869 , test:  0.9736842105263158
saga
train:  0.9868131868131869 , test:  0.9912280701754386

C:\Users\Zigorat\Anaconda3\envs\env_cxr\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\Zigorat\Anaconda3\envs\env_cxr\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\Zigorat\Anaconda3\envs\env_cxr\lib\site-packages\sklearn\linear_model\_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

In [ ]:
# Q2

In [2]:
boston_data = load_boston()
boston_data_df = pd.DataFrame(boston_data.data, columns=boston_data.feature_names)
boston_data_df['Price'] = boston_data.target
boston_data_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
col = boston_data_df.columns
min_max_scaler = preprocessing.MinMaxScaler()
boston_data_df = min_max_scaler.fit_transform(boston_data_df)
boston_data_df = pd.DataFrame(boston_data_df)
boston_data_df.columns=col
boston_data_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680,0.422222
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470,0.368889
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466,0.660000
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389,0.631111
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.099338,0.693333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.000633,0.00,0.420455,0.0,0.386831,0.580954,0.681771,0.122671,0.000000,0.164122,0.893617,0.987619,0.219095,0.386667
502,0.000438,0.00,0.420455,0.0,0.386831,0.490324,0.760041,0.105293,0.000000,0.164122,0.893617,1.000000,0.202815,0.346667
503,0.000612,0.00,0.420455,0.0,0.386831,0.654340,0.907312,0.094381,0.000000,0.164122,0.893617,1.000000,0.107892,0.420000
504,0.001161,0.00,0.420455,0.0,0.386831,0.619467,0.889804,0.114514,0.000000,0.164122,0.893617,0.991301,0.131071,0.377778
505,0.000462,0.00,0.420455,0.0,0.386831,0.473079,0.802266,0.125072,0.000000,0.164122,0.893617,1.000000,0.169702,0.153333

In [4]:
x_train, x_test, y_train, y_test = train_test_split(boston_data_df.iloc[:,:-1], boston_data_df.iloc[:,-1:],test_size = 0.2, random_state=42)

In [5]:
po_model = PoissonRegressor().fit(x_train, y_train)
y_pred = po_model.predict(x_test)

C:\Users\Zigorat\Anaconda3\envs\env_cxr\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [6]:
print('mean_absolute_error: ', mean_absolute_error(y_pred, y_test))
print('mean_squared_error: ', mean_squared_error(y_pred, y_test))
print('root_mean_squared_error: ', np.sqrt(mean_squared_error(y_pred, y_test)))

mean_absolute_error:  0.13706915351009746
mean_squared_error:  0.03419168896763634
root_mean_squared_error:  0.18490994826573376

In [ ]:
# Q3

In [3]:
df = pd.read_csv('Sequence.csv',header = None,names=range(7))
df = df.fillna(0)
transactions = []
ds = df.values
for i in range(len(df)):
    temp = []
    for j in range(7):
        if ds[i, j] != 0:
            temp.append(ds[i, j])
    transactions.append(temp)
df

,0,1,2,3,4,5,6
0,Coffee Powder,Sugar,Sweet,Panner,Milk,Bread,0
1,Lassi,Sugar,Yougurt,Tea Powder,Cheese,Milk,0
2,Panner,Coffee Powder,Cheese,Bread,0,0,0
3,Panner,Sugar,Butter,Bread,Ghee,Coffee Powder,0
4,Bread,Ghee,Yougurt,Panner,Milk,0,0
...,...,...,...,...,...,...,...
2813,Tea Powder,Sugar,Yougurt,Coffee Powder,0,0,0
2814,Milk,Tea Powder,Coffee Powder,Ghee,0,0,0
2815,Milk,Ghee,Butter,Cheese,Coffee Powder,0,0
2816,Coffee Powder,Tea Powder,0,0,0,0,0
2817,Panner,Milk,Sugar,Yougurt,Ghee,Bread,0

In [4]:
result = GSP(transactions).search(0.3)
result

[{('Sugar',): 1228,
  ('Sweet',): 1209,
  ('Panner',): 1192,
  ('Coffee Powder',): 1218,
  ('Bread',): 1185,
  ('Yougurt',): 1201,
  ('Milk',): 1209,
  ('Tea Powder',): 1166,
  ('Cheese',): 1165,
  ('Lassi',): 1186,
  ('Butter',): 1244,
  ('Ghee',): 1166}]

In [41]:
specific_buy = []

for x in transactions:
    before_sell = ''
    for y in x:
        if(before_sell == 'Bread' and y == 'Sweet'):
            specific_buy.append(x)
        before_sell = y

In [43]:
specific_buy

[['Bread', 'Sweet', 'Ghee'],
 ['Bread', 'Sweet', 'Coffee Powder'],
 ['Bread', 'Sweet', 'Milk', 'Yougurt', 'Lassi'],
 ['Bread', 'Sweet', 'Lassi', 'Cheese', 'Ghee', 'Panner'],
 ['Tea Powder', 'Cheese', 'Sugar', 'Panner', 'Lassi', 'Bread', 'Sweet'],
 ['Panner', 'Coffee Powder', 'Bread', 'Sweet', 'Yougurt', 'Butter'],
 ['Panner', 'Bread', 'Sweet', 'Milk', 'Butter', 'Yougurt', 'Cheese'],
 ['Cheese', 'Bread', 'Sweet', 'Butter', 'Coffee Powder', 'Sugar', 'Lassi'],
 ['Bread', 'Sweet'],
 ['Butter', 'Sugar', 'Bread', 'Sweet', 'Cheese'],
 ['Tea Powder', 'Lassi', 'Butter', 'Bread', 'Sweet'],
 ['Sugar', 'Panner', 'Milk', 'Coffee Powder', 'Tea Powder', 'Bread', 'Sweet'],
 ['Ghee', 'Bread', 'Sweet', 'Sugar', 'Tea Powder', 'Milk', 'Butter'],
 ['Panner',
  'Bread',
  'Sweet',
  'Coffee Powder',
  'Tea Powder',
  'Yougurt',
  'Cheese'],
 ['Cheese', 'Panner', 'Bread', 'Sweet'],
 ['Bread', 'Sweet', 'Sugar'],
 ['Cheese', 'Bread', 'Sweet', 'Ghee', 'Tea Powder'],
 ['Yougurt', 'Bread', 'Sweet'],
 ['Yougurt', 'Sugar', 'Lassi', 'Bread', 'Sweet', 'Tea Powder'],
 ['Bread', 'Sweet', 'Butter', 'Tea Powder', 'Lassi'],
 ['Milk', 'Tea Powder', 'Sugar', 'Cheese', 'Bread', 'Sweet'],
 ['Coffee Powder', 'Bread', 'Sweet', 'Sugar', 'Panner', 'Lassi'],
 ['Bread', 'Sweet', 'Cheese'],
 ['Bread', 'Sweet', 'Panner', 'Milk', 'Lassi', 'Coffee Powder', 'Tea Powder'],
 ['Panner', 'Bread', 'Sweet'],
 ['Yougurt', 'Lassi', 'Cheese', 'Ghee', 'Bread', 'Sweet', 'Milk'],
 ['Yougurt', 'Panner', 'Bread', 'Sweet', 'Sugar'],
 ['Bread', 'Sweet', 'Cheese', 'Tea Powder', 'Panner'],
 ['Bread', 'Sweet', 'Tea Powder', 'Panner', 'Milk', 'Coffee Powder'],
 ['Sugar', 'Bread', 'Sweet', 'Coffee Powder', 'Ghee'],
 ['Yougurt', 'Milk', 'Cheese', 'Bread', 'Sweet', 'Sugar'],
 ['Tea Powder', 'Bread', 'Sweet', 'Butter', 'Cheese', 'Panner', 'Sugar'],
 ['Milk', 'Lassi', 'Coffee Powder', 'Sugar', 'Bread', 'Sweet', 'Butter'],
 ['Yougurt', 'Lassi', 'Coffee Powder', 'Butter', 'Bread', 'Sweet'],
 ['Bread', 'Sweet', 'Panner', 'Coffee Powder', 'Sugar', 'Lassi', 'Cheese'],
 ['Bread', 'Sweet', 'Butter', 'Ghee'],
 ['Bread', 'Sweet', 'Ghee', 'Cheese'],
 ['Butter', 'Coffee Powder', 'Cheese', 'Bread', 'Sweet', 'Lassi', 'Ghee'],
 ['Cheese', 'Butter', 'Lassi', 'Milk', 'Bread', 'Sweet', 'Coffee Powder'],
 ['Bread', 'Sweet', 'Tea Powder', 'Panner', 'Coffee Powder', 'Milk', 'Lassi'],
 ['Bread', 'Sweet', 'Coffee Powder', 'Yougurt', 'Cheese'],
 ['Panner', 'Bread', 'Sweet', 'Lassi'],
 ['Butter', 'Cheese', 'Milk', 'Bread', 'Sweet', 'Coffee Powder', 'Sugar'],
 ['Milk', 'Yougurt', 'Coffee Powder', 'Cheese', 'Lassi', 'Bread', 'Sweet'],
 ['Tea Powder', 'Bread', 'Sweet', 'Cheese', 'Ghee', 'Sugar', 'Panner'],
 ['Bread', 'Sweet'],
 ['Bread', 'Sweet', 'Tea Powder', 'Butter', 'Cheese', 'Panner'],
 ['Bread', 'Sweet', 'Ghee', 'Panner', 'Lassi', 'Butter', 'Yougurt'],
 ['Bread', 'Sweet', 'Milk', 'Butter', 'Lassi', 'Panner'],
 ['Butter', 'Bread', 'Sweet', 'Cheese', 'Panner'],
 ['Bread', 'Sweet', 'Sugar', 'Panner', 'Cheese', 'Lassi'],
 ['Bread', 'Sweet', 'Butter', 'Lassi', 'Panner', 'Sugar', 'Cheese'],
 ['Ghee', 'Sugar', 'Cheese', 'Yougurt', 'Lassi', 'Bread', 'Sweet'],
 ['Panner',
  'Bread',
  'Sweet',
  'Lassi',
  'Coffee Powder',
  'Butter',
  'Tea Powder'],
 ['Ghee', 'Tea Powder', 'Yougurt', 'Bread', 'Sweet'],
 ['Bread', 'Sweet', 'Panner', 'Yougurt', 'Sugar', 'Ghee'],
 ['Bread', 'Sweet', 'Butter', 'Yougurt', 'Coffee Powder', 'Ghee'],
 ['Coffee Powder', 'Yougurt', 'Cheese', 'Sugar', 'Bread', 'Sweet', 'Panner'],
 ['Ghee', 'Bread', 'Sweet', 'Panner', 'Butter'],
 ['Butter', 'Bread', 'Sweet', 'Milk'],
 ['Bread', 'Sweet', 'Cheese', 'Tea Powder', 'Coffee Powder', 'Panner'],
 ['Cheese', 'Bread', 'Sweet', 'Sugar', 'Milk'],
 ['Coffee Powder', 'Bread', 'Sweet', 'Tea Powder', 'Lassi', 'Cheese'],
 ['Sugar', 'Coffee Powder', 'Panner', 'Milk', 'Bread', 'Sweet'],
 ['Butter', 'Bread', 'Sweet', 'Lassi', 'Sugar'],
 ['Bread', 'Sweet', 'Tea Powder', 'Cheese', 'Lassi', 'Panner', 'Butter'],
 ['Sugar', 'Yougurt', 'Bread', 'Sweet', 'Milk', 'Panner', 'Lassi'],
 ['Ghee', 'Coffee Powder', 'Lassi', 'Cheese', 'Bread', 'Sweet', 'Milk'],
 ['Tea Powder',
  'Yougurt',
  'Coffee Powder',
  'Butter',
  'Sugar',
  'Bread',
  'Sweet'],
 ['Sugar', 'Panner', 'Bread', 'Sweet', 'Butter', 'Yougurt', 'Milk'],
 ['Butter',
  'Yougurt',
  'Tea Powder',
  'Coffee Powder',
  'Bread',
  'Sweet',
  'Sugar'],
 ['Coffee Powder', 'Bread', 'Sweet', 'Cheese', 'Lassi'],
 ['Milk', 'Bread', 'Sweet', 'Coffee Powder', 'Panner'],
 ['Bread', 'Sweet', 'Yougurt', 'Tea Powder', 'Cheese', 'Lassi'],
 ['Lassi', 'Bread', 'Sweet', 'Sugar', 'Ghee', 'Tea Powder'],
 ['Coffee Powder', 'Bread', 'Sweet', 'Milk'],
 ['Sugar', 'Ghee', 'Bread', 'Sweet'],
 ['Yougurt', 'Lassi', 'Butter', 'Bread', 'Sweet', 'Milk', 'Ghee'],
 ['Bread', 'Sweet'],
 ['Yougurt', 'Sugar', 'Panner', 'Bread', 'Sweet', 'Lassi', 'Butter'],
 ['Milk', 'Yougurt', 'Ghee', 'Bread', 'Sweet'],
 ['Butter', 'Tea Powder', 'Ghee', 'Milk', 'Lassi', 'Bread', 'Sweet'],
 ['Lassi', 'Panner', 'Coffee Powder', 'Bread', 'Sweet']]

In [ ]:
# Q4

In [5]:
df = pd.read_csv('Heart.csv')
df = df.dropna()
df

,age,gender,chest pain type,serum cholestoral,fasting blood sugar,resting electrocardiographic,maximum heart rate achieved,exercise induced angina,target
1,37,1,2,250,0,1,187.0,0,1
2,41,0,1,204,0,0,172.0,0,1
3,56,1,1,236,0,1,178.0,0,1
4,57,0,0,354,0,1,163.0,1,1
5,57,1,0,192,0,1,148.0,0,1
...,...,...,...,...,...,...,...,...,...
298,57,0,0,241,0,1,123.0,1,0
299,45,1,3,264,0,1,132.0,0,0
300,68,1,0,193,1,1,141.0,0,0
301,57,1,0,131,0,1,115.0,1,0
302,57,0,1,236,0,0,174.0,0,0

In [8]:
breaks = jenkspy.jenks_breaks(df['maximum heart rate achieved'],nb_class = 5)
df1 = pd.DataFrame(df[['resting electrocardiographic', 'chest pain type', 'exercise induced angina', 'target']])
df1['max hr bin'] = pd.cut(x = df['maximum heart rate achieved'], 
                           bins = breaks, right = False, labels = ['hr in (71,116)','hr in (116,136)',
                                                                   'hr in (136,153)','hr in (153,169)',
                                                                   'hr in (169,202)'])
df1 = pd.get_dummies(df1, columns = ['resting electrocardiographic', 'chest pain type',
                                          'exercise induced angina', 'max hr bin', 'target'])
df1

,resting electrocardiographic_0,resting electrocardiographic_1,resting electrocardiographic_2,chest pain type_0,chest pain type_1,chest pain type_2,chest pain type_3,exercise induced angina_0,exercise induced angina_1,"max hr bin_hr in (71,116)","max hr bin_hr in (116,136)","max hr bin_hr in (136,153)","max hr bin_hr in (153,169)","max hr bin_hr in (169,202)",target_0,target_1
1,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1
2,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1
3,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,1
4,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1
5,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
299,0,1,0,0,0,0,1,1,0,0,1,0,0,0,1,0
300,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0
301,0,1,0,1,0,0,0,0,1,1,0,0,0,0,1,0
302,1,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0

In [19]:
frequent_itemsets = apriori(df1, min_support=0.25, use_colnames=True)
pd.options.display.max_colwidth = 500
frequent_itemsets.tail(5)

,support,itemsets
15,0.344371,"(chest pain type_0, target_0)"
16,0.251656,"(exercise induced angina_0, chest pain type_2)"
17,0.466887,"(exercise induced angina_0, target_1)"
18,0.251656,"(target_0, exercise induced angina_1)"
19,0.281457,"(exercise induced angina_0, resting electrocardiographic_1, target_1)"

In [21]:
rules = association_rules(frequent_itemsets, metric='lift')
rules = pd.concat([rules[rules.consequents == frozenset({'target_1'})],
                   rules[rules.consequents == frozenset({'target_0'})]], ignore_index=True)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(resting electrocardiographic_1),(target_1),0.503311,0.543046,0.317881,0.631579,1.163030,0.044559,1.240303
1,(exercise induced angina_0),(target_1),0.672185,0.543046,0.466887,0.694581,1.279046,0.101860,1.496155
2,"(exercise induced angina_0, resting electrocardiographic_1)",(target_1),0.360927,0.543046,0.281457,0.779817,1.436004,0.085457,2.075331
3,(resting electrocardiographic_0),(target_0),0.483444,0.456954,0.261589,0.541096,1.184137,0.040678,1.183355
4,(chest pain type_0),(target_0),0.473510,0.456954,0.344371,0.727273,1.591568,0.127999,1.991170
5,(exercise induced angina_1),(target_0),0.327815,0.456954,0.251656,0.767677,1.679988,0.101860,2.337460