In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('Train.csv')

df['date'] = pd.to_datetime(df['date'])
df.set_index('date',inplace=True)
df

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,,
2000-01-04,1001,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,15.92,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
2000-01-11,1001,1.33,100.40,6.63,11.48,7.84,7.84,18.88,5.72,13.16,10.43,1.76,2.48,1.05,1.43,3.55,6.38,1.71,4.67,2.0
2000-01-18,1001,1.11,100.39,9.53,14.28,13.26,13.26,18.04,8.98,9.06,14.19,2.63,3.60,1.67,1.92,5.19,6.40,3.84,2.55,2.0
2000-01-25,1001,0.00,100.11,2.05,-0.78,-7.93,-7.72,5.65,-5.46,11.11,-0.61,3.35,4.59,2.28,2.32,5.75,8.03,3.96,4.07,2.0
2000-02-01,1001,0.00,101.00,3.36,2.06,-1.73,-1.70,11.02,-4.21,15.23,1.88,2.03,2.74,0.88,1.86,4.18,6.38,1.27,5.11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-29,56043,0.04,82.47,2.19,-4.27,-9.36,-9.26,-1.51,-7.22,5.71,-4.38,6.93,10.27,3.08,7.18,9.42,12.59,5.62,6.97,0.0
2016-12-06,56043,0.13,82.59,0.91,-11.96,-18.65,-17.90,-6.85,-15.24,8.39,-11.98,2.27,3.97,0.95,3.02,3.07,5.16,0.83,4.33,0.0
2016-12-13,56043,0.02,82.86,1.40,-9.56,-14.18,-13.95,-2.69,-13.01,10.32,-10.95,3.64,6.59,1.28,5.31,5.33,8.35,2.13,6.22,0.0
2016-12-20,56043,0.32,83.12,2.73,-2.55,-6.90,-6.84,2.66,-7.77,10.42,-3.94,6.16,8.43,3.44,4.99,8.99,10.14,6.67,3.47,0.0
2016-12-27,56043,0.16,82.88,1.63,-7.97,-13.49,-12.81,-1.39,-13.60,12.21,-9.41,5.90,7.63,3.61,4.02,8.58,10.39,5.92,4.47,0.0

In [6]:
df['score'] = df['score'].astype(int)
df

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,,
2000-01-04,1001,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,15.92,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1
2000-01-11,1001,1.33,100.40,6.63,11.48,7.84,7.84,18.88,5.72,13.16,10.43,1.76,2.48,1.05,1.43,3.55,6.38,1.71,4.67,2
2000-01-18,1001,1.11,100.39,9.53,14.28,13.26,13.26,18.04,8.98,9.06,14.19,2.63,3.60,1.67,1.92,5.19,6.40,3.84,2.55,2
2000-01-25,1001,0.00,100.11,2.05,-0.78,-7.93,-7.72,5.65,-5.46,11.11,-0.61,3.35,4.59,2.28,2.32,5.75,8.03,3.96,4.07,2
2000-02-01,1001,0.00,101.00,3.36,2.06,-1.73,-1.70,11.02,-4.21,15.23,1.88,2.03,2.74,0.88,1.86,4.18,6.38,1.27,5.11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-29,56043,0.04,82.47,2.19,-4.27,-9.36,-9.26,-1.51,-7.22,5.71,-4.38,6.93,10.27,3.08,7.18,9.42,12.59,5.62,6.97,0
2016-12-06,56043,0.13,82.59,0.91,-11.96,-18.65,-17.90,-6.85,-15.24,8.39,-11.98,2.27,3.97,0.95,3.02,3.07,5.16,0.83,4.33,0
2016-12-13,56043,0.02,82.86,1.40,-9.56,-14.18,-13.95,-2.69,-13.01,10.32,-10.95,3.64,6.59,1.28,5.31,5.33,8.35,2.13,6.22,0
2016-12-20,56043,0.32,83.12,2.73,-2.55,-6.90,-6.84,2.66,-7.77,10.42,-3.94,6.16,8.43,3.44,4.99,8.99,10.14,6.67,3.47,0
2016-12-27,56043,0.16,82.88,1.63,-7.97,-13.49,-12.81,-1.39,-13.60,12.21,-9.41,5.90,7.63,3.61,4.02,8.58,10.39,5.92,4.47,0

In [7]:
class_0_count,class_1_count,class_2_count,class_3_count,class_4_count,class_5_count = df.score.value_counts()
print(class_0_count,class_1_count,class_2_count,class_3_count,class_4_count,class_5_count)

1794623 424353 265995 169049 80970 21806

In [8]:
class_0 = df[df['score'] == 0]
class_1 = df[df['score'] == 1]
class_2 = df[df['score'] == 2]
class_3 = df[df['score'] == 3]
class_4 = df[df['score'] == 4]
class_5 = df[df['score'] == 5]

In [9]:
class_0_under = class_0.sample(class_1_count)
class_2_under = class_2.sample(class_1_count,replace=True)
class_3_under = class_3.sample(class_1_count,replace=True)
class_4_under = class_4.sample(class_1_count,replace=True)
class_5_under = class_5.sample(class_1_count,replace=True)

df = pd.concat([class_0_under,class_1,class_2_under,class_3_under,class_4_under,class_5_under], axis=0)
df.sort_values('date')

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,,
2000-01-04,17049,0.09,99.60,2.20,-2.60,-7.32,-7.18,0.13,-6.54,6.67,-2.28,7.87,9.59,4.24,5.35,9.93,11.54,5.81,5.73,1
2000-01-04,18039,2.16,97.94,3.02,-0.98,-3.47,-3.44,1.29,-3.15,4.44,-0.91,8.01,10.18,4.80,5.38,10.24,12.56,6.59,5.97,3
2000-01-04,23021,12.46,96.89,3.57,-1.41,-2.01,-2.00,4.27,-5.98,10.25,-1.50,3.53,4.80,1.92,2.88,6.68,9.95,3.35,6.60,0
2000-01-04,18115,3.04,98.54,3.99,2.74,-0.46,-0.43,12.90,-3.33,16.23,2.67,4.56,5.33,3.62,1.70,7.32,8.59,6.01,2.58,2
2000-01-04,13127,3.76,101.64,11.11,18.15,15.80,15.80,21.50,13.98,7.52,16.54,4.68,6.37,3.50,2.87,7.70,10.39,5.64,4.75,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,20099,0.00,99.21,2.81,2.07,-4.18,-4.09,9.41,-2.68,12.10,0.82,2.26,4.29,0.17,4.12,3.57,9.10,0.25,8.85,1
2016-12-27,36111,0.47,97.09,4.49,2.85,1.81,1.50,7.55,-3.32,10.87,2.72,3.43,5.03,2.16,2.87,6.96,9.41,4.85,4.56,2
2016-12-27,20097,0.01,94.52,2.57,0.36,-6.03,-5.80,8.40,-4.18,12.58,-0.21,4.00,6.68,2.59,4.09,6.83,9.69,2.96,6.73,1
2016-12-27,51037,0.31,99.53,7.28,10.99,9.13,8.90,16.71,5.69,11.02,10.90,2.87,3.45,2.03,1.41,6.03,6.84,5.34,1.50,1
2016-12-27,21109,16.90,98.17,5.14,6.83,3.90,3.00,14.62,-1.36,15.98,6.69,2.66,3.85,1.93,1.93,4.99,7.41,3.62,3.79,1

In [10]:
class_0_count,class_1_count,class_2_count,class_3_count,class_4_count,class_5_count = df.score.value_counts()
print(class_0_count,class_1_count,class_2_count,class_3_count,class_4_count,class_5_count)

424353 424353 424353 424353 424353 424353

In [11]:
df = df.sort_values('date')
df

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,,
2000-01-04,17049,0.09,99.60,2.20,-2.60,-7.32,-7.18,0.13,-6.54,6.67,-2.28,7.87,9.59,4.24,5.35,9.93,11.54,5.81,5.73,1
2000-01-04,18039,2.16,97.94,3.02,-0.98,-3.47,-3.44,1.29,-3.15,4.44,-0.91,8.01,10.18,4.80,5.38,10.24,12.56,6.59,5.97,3
2000-01-04,23021,12.46,96.89,3.57,-1.41,-2.01,-2.00,4.27,-5.98,10.25,-1.50,3.53,4.80,1.92,2.88,6.68,9.95,3.35,6.60,0
2000-01-04,18115,3.04,98.54,3.99,2.74,-0.46,-0.43,12.90,-3.33,16.23,2.67,4.56,5.33,3.62,1.70,7.32,8.59,6.01,2.58,2
2000-01-04,13127,3.76,101.64,11.11,18.15,15.80,15.80,21.50,13.98,7.52,16.54,4.68,6.37,3.50,2.87,7.70,10.39,5.64,4.75,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,20099,0.00,99.21,2.81,2.07,-4.18,-4.09,9.41,-2.68,12.10,0.82,2.26,4.29,0.17,4.12,3.57,9.10,0.25,8.85,1
2016-12-27,36111,0.47,97.09,4.49,2.85,1.81,1.50,7.55,-3.32,10.87,2.72,3.43,5.03,2.16,2.87,6.96,9.41,4.85,4.56,2
2016-12-27,20097,0.01,94.52,2.57,0.36,-6.03,-5.80,8.40,-4.18,12.58,-0.21,4.00,6.68,2.59,4.09,6.83,9.69,2.96,6.73,1
2016-12-27,51037,0.31,99.53,7.28,10.99,9.13,8.90,16.71,5.69,11.02,10.90,2.87,3.45,2.03,1.41,6.03,6.84,5.34,1.50,1
2016-12-27,21109,16.90,98.17,5.14,6.83,3.90,3.00,14.62,-1.36,15.98,6.69,2.66,3.85,1.93,1.93,4.99,7.41,3.62,3.79,1

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['PRECTOT','PS','QV2M','T2M','T2MDEW','T2MWET','T2M_MAX','T2M_MIN','T2M_RANGE','TS'
    ,'WS10M','WS10M_MAX','WS10M_MIN','WS10M_RANGE','WS50M','WS50M_MAX','WS50M_MIN','WS50M_RANGE']] = scaler.fit_transform(df[['PRECTOT','PS','QV2M','T2M','T2MDEW','T2MWET','T2M_MAX',
    'T2M_MIN','T2M_RANGE','TS','WS10M','WS10M_MAX','WS10M_MIN','WS10M_RANGE'
    ,'WS50M','WS50M_MAX','WS50M_MIN','WS50M_RANGE']])

df

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,,
2000-01-04,17049,-0.385194,0.645807,-1.209877,-1.545843,-1.385302,-1.385609,-1.770682,-1.440259,-1.386352,-1.485926,2.354789,1.659525,1.784677,0.993268,1.952640,1.306047,1.340940,0.407239,1
2000-01-04,18039,-0.010476,0.379372,-1.031050,-1.401611,-1.005166,-1.013804,-1.673606,-1.124296,-1.928155,-1.368087,2.431710,1.887278,2.208830,1.008605,2.089016,1.667116,1.715273,0.516397,3
2000-01-04,23021,1.854065,0.210844,-0.911106,-1.439895,-0.861011,-0.870649,-1.424223,-1.388065,-0.516551,-1.418835,-0.029768,-0.189517,0.027472,-0.269537,0.522886,0.743203,0.160351,0.802937,0
2000-01-04,18115,0.148825,0.475674,-0.819512,-1.070413,-0.707969,-0.714571,-0.702016,-1.141073,0.936356,-1.060156,0.536152,0.015074,1.315079,-0.872820,0.804438,0.261778,1.436923,-1.025457,2
2000-01-04,13127,0.279162,0.973233,0.733227,0.301565,0.897487,0.898904,0.017680,0.472297,-1.179835,0.132858,0.602085,0.416536,1.224189,-0.274650,0.971609,0.898959,1.259354,-0.038488,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,20099,-0.401486,0.583211,-1.076848,-1.130065,-1.075269,-1.078423,-0.994079,-1.080490,-0.067073,-1.219282,-0.727553,-0.386388,-1.298006,0.364422,-0.845278,0.442312,-1.327382,1.826291,1
2016-12-27,36111,-0.316405,0.242945,-0.710471,-1.060620,-0.483837,-0.522703,-1.149735,-1.140141,-0.365915,-1.055856,-0.084711,-0.100732,0.209252,-0.274650,0.646065,0.552049,0.880222,-0.124905,2
2016-12-27,20097,-0.399676,-0.169547,-1.129187,-1.282309,-1.257932,-1.248419,-1.078602,-1.220296,0.049548,-1.307877,0.228468,0.536203,0.534941,0.349084,0.588875,0.651166,-0.026815,0.862064,1
2016-12-27,51037,-0.345369,0.634572,-0.102024,-0.335902,0.238915,0.212954,-0.383174,-0.300368,-0.329471,-0.352261,-0.392396,-0.710646,0.110788,-1.021085,0.236935,-0.357704,1.115380,-1.516667,1
2016-12-27,21109,2.657809,0.416288,-0.568718,-0.706274,-0.277478,-0.373584,-0.558077,-0.957460,0.875616,-0.714380,-0.507778,-0.556238,0.035046,-0.755231,-0.220586,-0.155930,0.289928,-0.475120,1

In [13]:
df.to_csv('Prepared_Train.csv')